@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* ===== GLOBAL RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== BASE DOCUMENT ===== */
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #111;
}

body {
  overflow-x: hidden;
}